@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    margin-top: 100px;
}

body {
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 100vw;
    
}

.navigate {
    min-height: 180px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 30px 300px;
    margin-top: 20px;
}

.navigate p:first-child{
    font-size: 2.2em;
    font-weight: bold;
}

.navigate p:last-child{
    padding: 25px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: #fff;
    color: #000;
    cursor: pointer;
}

.navigate p:last-child:hover {
    background: black;
    color: #F2994A;
    border: 1px solid #F2994A;
    transition: color 2s ease-out;
    transition: background 2s ease-out;
    
}

.main-sec {
    height: 500px;
    padding: 30px 120px;
    display: flex;
    padding: 30px 300px;
    
}

.main-sec  .content {
    width: 60%;
    /* border: 1px solid red; */
    height: inherit;
    margin: 0 10px;
}


.main-sec .content {
    height: 60vh;
    padding: 10px;

}


.type {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 6.5s steps(30, end),
        blink-caret .5s step-end infinite;
    }

    /* The typing effect */
    @keyframes typing {
    from { width: 0 }
    to { width: 35% }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
    }
}

.main-sec .content .skills {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.1em;
    font-weight: bold;
    color: #D8D8D8;
}

.main-sec .content h4 {
    color: #D8D8D8;
    font-size: 1.3em;
    font-weight: normal;
    margin-top: 10px;
}

.main-sec .content h4 span {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
}

.main-sec .content .para {
    font-size: 1em;
    width: 75%;
    color: #D8D8D8;
    word-spacing: 5px;
    margin-top: 10px;
}

.main-sec .image {
    width: 35%;
    height: 60vh;
}

.main-sec .image img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    border-radius: 5px;
    
}

.main-sec .icons {
    display: flex;
    margin-top: 15px;
    height: 7vh;
}

.main-sec .content .icons > p {
    color: #F2994A;
    font-size: 1.2em;
}

.main-sec .social {
    margin:  10px 10px;
    
}

.main-sec .project {
    display: flex;
    margin-top: 20px;
    
}

.main-sec .project a {
    text-decoration: none;
    
}
.main-sec .project p {
    color: #F2994A;
    margin: 0 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #F2994A;
    padding: 10px;
}


/* popup */

.Animapop {
    color: #F2994A;
    font-size: 1.5em;
    position: relative;
    top: -20px;
    margin-left: 40px;
    animation: pulse 2s ease-out;
}

@keyframes pulse {
    0% {opacity: 0;}
    100%{opacity: 1;}
}
/* popup */
@media screen and (max-width: 800px) {

    body {
        overflow-x: hidden;
    }
    .main-sec .image {
        height: 250px;
    }

    .navigate {
        padding: 0;
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 10px;
    }

    .navigate .resize {
        font-size: 1.5em;
    }

    .navigate .menu {
        width: 100px;
        position: relative;
        left: 10%;
    }
    
    .main-sec .project p {
        width: 50%;
    }
    .main-sec .project a {
        margin: 0 50px;
        font-size: 1em;
        
    }

    .main-sec .project {
        
        width: 100%;
    }

    .navigate p:first-child {
        margin-left: 30px;
        font-size: 1.5em;
        margin-top: 50px;
    }

    .navigate p:last-child {
        position: relative;
        right: 50px;
        top: 50px;
    }

    .main-sec {
        flex-direction: column;
        padding: 0;
        width: 100%;
        
        height: 120vh;
        overflow-x: hidden;
        margin-top: px;
        
    }

    .main-sec .image {
        width: 100%;
        /* padding-right: 10px; */
        
    }

    .main-sec .content {
        
        width: 90%;
        height: 100vh;
    }

    .main-sec .content .skills {
        margin-top: 15px;
        font-size: 1.3em;
        
    }

    .main-sec .content h4 {
        font-size: 1.3em;
    }

    .main-sec .content h4 span {
        font-size: 1em;
    }

    .main-sec .content .para {
        font-size: 1.1em;
        width: 105%;
    }

    .main-sec .content .icons {
        margin-top: 30px;
    }

    .main-sec .content .icons .social svg {
        font-size: 2em;
        
    }

    .main-sec .content .project {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .main-sec .content .project p {
        border: 1px solid #F2994A;
        padding: 10px;
        width: 35%;
    }

    .main-sec .content .project a p {
        border: 1px solid #F2994A;
        padding: 10px;
        width:100%;
    }
}


@media screen and (max-width: 376px) {
    .main-sec  {
        padding: 10px;
    }
    .main-sec .image {
        height: 300px;
        width: 100%;
        
    }

    .Animapop {
        margin-top: 40px;
    }

    .main-sec .content .project {
        width: 100%;
        flex-direction: column;
        padding: 20px 10px;
    }

    .main-sec .content .project p {
        border: 1px solid #F2994A;
        /* padding: 10px; */
        width: 100%;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .main-sec .content .project a {
        margin-top: 10px;
        width: 105%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

